<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MPSecurity.master.cs" Inherits="MPSecurity" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
    
<head runat="server">
   
    <title></title>

       <script language="javascript" type="text/javascript">
     javascript:window.history.forward(1);
     </script>
 
     <link rel="stylesheet" type="text/css" href="css/cssLogin.css"/>

    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
         <div class="MGMLogin" >
    
        <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
        
        </asp:ContentPlaceHolder>
    
             </div>
    </form>
</body>
</html>
